/* 
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .mySlides.active {
    display: block;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot.active, .dot:hover {
    background-color: #717171;
  } */


  .HomePage{
    /* background-color: rgb(189, 178, 178);
    color: white; */
  }


  /* product mapping style */

  #add {
    padding-top: 20px;
  }
  
  .add-products {
    padding: 30px; 
    padding-top:30px; 
    gap:20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .add-product {
    border: 2px solid rgb(43, 40, 40); 
    width: 20%;
    height:375px;
    margin: auto;
    font-size: 14px;
    font-weight: bolder;
  } 

  .img-bg{
    height: 200px;
    width: 235px;
  }
  .img-bg:hover{
    scale: 1.05;
    border: 1px solid silver;
  }
  .addCart-button {
    
    background-color: green;
    height: 35px;
    width:80%;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .addCart-button:hover {
    background-color: darkgreen;
    scale: 1.05;
   
   
  } 