.First-nav{
     background-color:rgb(172, 104, 104);
     height: 30px;
     color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding-top: 5px;
}
.nav-parent{
    /* border:  5px solid red; */
    background-color: bisque;
     display: flex;
    justify-content: space-between; 
    height: 50px;
   border-bottom: 2px solid gray;
    margin: auto;
    font-weight: 600;
   font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
} 

.Left-nav{
    /* border:  5px solid red; */
    width: 20%;
}
.MIddel-nav{
    /* border: 5px solid greenyellow; */
    width: 45%;
    text-align: left;
    /* display: flex;
    justify-content: space-around;  */
   
}
.MIddel-nav>input{
    /* border:  5px solid red; */
    margin-top: 10px;
  height: 27px;
   width: 250px;

border-radius: 8px;
background-color: antiquewhite;
}

.Search{
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.Search:focus{
    width: 90%;
}

.Right-nav{
    /* border: 5px solid green; */
    width:20%;
    display: flex;
    justify-content: space-around;
     
   
}
.Right-nav>div{
    /* border: 5px solid greenyellow; */
    display: flex;
    justify-content: space-evenly; 
    width: 50%;
    font-size: 16px;
   
}

.R-two{
    padding-top: 18px;
}

.AddProducts{
     font-size: 10px;
      align-items: end;
     word-wrap: normal;
}


