.First-nav{
     background-color:rgb(172, 104, 104);
     height: 40px;
     color: white;
     
}
.nav-parent{
    /* border:  5px solid red; */
    background-color: bisque;
     display: flex;
    justify-content: space-around; 
    height: 50px;
   border-bottom: 1px solid gray;
    margin: auto;
} 
.Left-nav{
    /* border:  5px solid red; */
    width: 33%;
}
.MIddel-nav{
    /* border: 5px solid greenyellow; */
    width: 33%;
}
.Right-nav{
    /* border: 5px solid green; */
    width: 25%;
    display: flex;
    margin-left: 35px;
    justify-content: space-around; 
   
}
.Right-nav>div{
    /* border: 5px solid greenyellow; */
    display: flex;
    justify-content: space-evenly; 
    width: 50%;
   
}

.R-two{
    padding-top: 18px;
}




